# Default ignored files
/../../ActividadArreglosMatrices./.idea/shelf/
/../../ActividadArreglosMatrices./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../ActividadArreglosMatrices./.idea/httpRequests/
# Ignored default folder with query files
/../../ActividadArreglosMatrices./.idea/queries/
# Datasource local storage ignored files
/../../ActividadArreglosMatrices./.idea/dataSources/
/../../ActividadArreglosMatrices./.idea/dataSources.local.xml
